body {
	margin: 0;
	width: 100%;
	overflow-x: hidden;
}

canvas {
	cursor: crosshair;
	display: block;
}

.container {
}

.home {
	background: #252934;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.navbar {

}

.about {

}

.portfolio {

}

.contact {

}
