@keyframes fadein {
	from {opacity: .5;}
	to {opacity: 1;}
}

@keyframes slideup  {
	from {transform: translateY(100%);}
	to {transform: translateY(0);}
}

@keyframes arrow {
	0% {bottom: 50px;}
	50% {bottom: 10px;}
	100% {bottom: 50px;}
}

@keyframes glow {
	0% {
		-webkit-box-shadow:0 0 20px #796da8;
		-moz-box-shadow: 0 0 20px #796da8;
		box-shadow:0 0 20px #796da8;
	}
	25% {
		-webkit-box-shadow:0 0 60px #796da8;
		-moz-box-shadow: 0 0 60px #796da8;
		box-shadow:0 0 60px #796da8;
	}
	50% {
		-webkit-box-shadow:0 0 50px #796da8;
		-moz-box-shadow: 0 0 50px #796da8;
		box-shadow:0 0 50px #796da8;
	}
	75% {
		-webkit-box-shadow:0 0 40px #796da8;
		-moz-box-shadow: 0 0 40px #796da8;
		box-shadow:0 0 40px #796da8;
	}
	100% {
		-webkit-box-shadow:0 0 20px #796da8;
		-moz-box-shadow: 0 0 20px #796da8;
		box-shadow:0 0 20px #796da8;
	}
}
html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

a {
	text-decoration: none;
}

.container {
}

.home {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 2rem;
	color: #fff;
}

.text-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.profile-picture {
	width: 200px;
	height: 200px;
	padding: 0;
	margin: 0;
	border-radius: 50%;
	flex: 1 1 auto;
	background-color: gray;
	-webkit-box-shadow:0 0 20px #796da8;
	-moz-box-shadow: 0 0 20px #796da8;
	box-shadow:0 0 20px #796da8;
	animation: glow 5s infinite;
}

.text {
	padding: 20px 0;
}

.text h1 {
	margin: 0;
}

.text span {
	color: #50ceb5;
}

.button-wrap {
	display: flex;
}

.button {
	border: 3px solid #50ceb5;
	padding: 8px 15px;
	font-size: 1em;
	background-color: transparent;
	color: #50ceb5;
	transition: .4s;
	margin: 5px;
	text-decoration: none;
}

.button:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.arrow {
	position: absolute;
	bottom: 10px;
	animation: arrow 2s infinite ease-in-out;
	visibility: hidden;
}

.arrow a {
	width: 100%;
	height: 100%;
	font-size: 2em;
	color: #50ceb5;
	z-index: 1;
}

.navbar {
	display: flex;
	align-items: center;
	height: 50px;
	padding: 10px;
	position: -webkit-sticky;
	position: sticky;
	background-color: #020721;
	font-size: 1.3rem;
	border-bottom: 4px solid #796da8;
	top: -1px;
	z-index: 2;
}

.link-container {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.page-link a{
	color: #796da8;
	text-transform: uppercase;
	transition: .4s;
	cursor: pointer;
}

.page-link a:hover {
	color: #50ceb5;
}

.about {
	background-image: url('../img/project-bg.png');
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 73px);
	font-size: 2rem;
	padding: 40px 100px;
}

.about-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 50px;
	background-color: rgba(255,255,255,.8);
}

.about-text {
	padding: 0 50px;
}

.about-text h2 {
	color: #50ceb5;
	margin: 0;
	padding: 20px 0;
	text-decoration: underline;
}

.about-text p {
	margin: 0;
	padding: 10px 40px 30px;
	color: black;
	font-size: .8em;
	line-height: 1.5em;
}

.portfolio {
	width: 100%;
	height: calc(100vh - 73px);
	background: linear-gradient(#062a29, #367f7f);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

.my-portfolio-text {
	margin: 0;
	color: #50ceb5;
	font-size: 2em;
}

.my-projects {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 80px 15px;
}

.project {
	flex: 1 1 400px;
	padding: 10px;
}

.content-wrapper {
	position: relative;
	width: 100%;
	background-color: #50ceb5;
	overflow: hidden;
}

.project-link {
	width: 100%;
	height: 100%;
	position: absolute;
	cursor: pointer;
	z-index: 1;
}

.project img{
	width: 100%;
}

.content-wrapper:hover .p-description {
	opacity: 1;

}

.content-wrapper:hover .p-techs {
	animation: slideup .6s ease-out;
	opacity: 1;
}

.content-wrapper:hover .info-wrapper {
	background-color: whitesmoke;
}

.info-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	transition: .4s;
}

.p-description {
	flex: 1 1 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	line-height: 1.5em;
	opacity: 0;
	font-size: .8em;
	text-align: center;
	color: #397f7f;
	transition: .4s
}

.p-techs {
	flex: 0;
	text-align: center;
	background-color: #50ceb5;
	padding: 25px 0;
	color: white;
	font-size: .8em;
	transition: .5s;
	pointer-events: none;
	opacity: 0;
	z-index: 1;
	transition: .4s;
}

.contact {
	height: calc(60vh - 153px);
	width: 100%;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #252627;
	border-top: 4px solid #1b1c1c;
	animation: fadein 1s;
}

.contact-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-wrapper img {
	margin: 0 15px;
	animation: 0;
	height: 180px;
	width: 180px;
	line-height: 180px;
}

.contact-info-wrapper {
	margin: 0 15px;
}

.contact-info-wrapper h2 {
	color: #50ceb5;
	padding: 5px 0;
	margin: 0;

}

.contact-info-wrapper h3 {
	line-height: 1.5em;
	color: grey;
	padding: 0 5px;
	font-size: .8em;
	margin: 0;
}


footer {
	width: 100%;
	background-color: #1b1c1d;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

.social-icon-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 10px;
	font-size: 2rem;
}

.social-icon-wrapper i {
	color: #50ceb5;
	font-size: 2em;
	transition: .4s;
	cursor: pointer;
	padding: 10px 15px;
}

.social-icon-wrapper i:hover{
	transform: scale(1.1);
}

.copyright {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	align-content: flex-end;
	width: 100%;
	color: grey;
	font-size: 1em;
	background-color: #252627;
	padding: 10px;
}

.canv-wrap {
	position: absolute;
  width: 100%;
  height: 100%;
	display: flex;
	background-color: #030b34;
	z-index: -1;
}

canvas {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 900px) {
	font-size: 18px;
}


@media screen and (min-width: 1200px) {
	font-size: 20px;
}
