body {
	margin: 0;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

.container {
}

.home {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 2rem;
	color: #fff;
}

.text-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.text {
	padding: 20px 0;
}

.text h1 {
	margin: 0;
}

.text span {
	color: #50ceb5;
}

.button-wrap {
	display: flex;
}

.button {
	border: 3px solid #50ceb5;
	padding: 8px 15px;
	font-size: 1em;
	background-color: transparent;
	color: #50ceb5;
	transition: .4s;
	margin: 5px;
	text-decoration: none;
}

.button-wrap a {
	background-color: rgba(218,245,239,.2);
	padding: 10px 15px;
}

.button:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.navbar {
	padding: 10px;
	position: -webkit-sticky;
	position: sticky;
	background-color: #020721;
	font-size: 1.3rem;
	border-bottom: 3px solid #796da8;
	top: -1px;
}

.link-container {
	display: flex;
	align-content: flex-start;
}

.page-link {
	padding: 10px;
	color: #796da8;
	text-transform: uppercase;
	transition: .4s;
	cursor: pointer;
}

.page-link:hover {
	color: #50ceb5;
}

.page-link:focus {
	color: #50ceb5;
}

.about {
	padding: 200px;
	background-color: #fefdfc;
}

.portfolio {
	border-top: 4px solid #50ceb5;
	background-image: url('../img/project-bg.png');
	background-position: center;
	background-size: cover;
	padding: 80px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

.my-portfolio-text {
	margin: 0;
	color: #50ceb5;
	font-size: 1.4em;
}

.my-projects {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 80px 0;
}

.project {
	padding: 15px;
	width: 500px;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.project-link {
	width: 100%;
	height: 350px;
	position: absolute;
}

.project img{
	width: 100%;
	cursor: pointer;
	border: 2px solid #50ceb5;
}

.p-description {
	position: absolute;
	text-align: center;
	background-color: #50ceb5;
	padding: 20px 2px;
	color: white;
	font-size: .8em;
	width: inherit;
	opacity: 0;
	transition: .5s;
	pointer-events: none;
	visibility: hidden;
}

.show-text {
	opacity: 1;
	transition: .5s;
	margin-top: -75px;
	visibility: visible;
}

.contact {

}

.footer {

}

.canv-wrap {
	position: absolute;
  width: 100%;
  height: 100%;
	display: flex;
	background-color: #030b34;
	z-index: -1;
}

canvas {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 900px) {
	font-size: 18px;
}


@media screen and (min-width: 1200px) {
	font-size: 20px;
}
